Flask
flask-redis
Flask_Limit

requests
beautifulsoup4>=4.12,<5.0
urllib3

aiohttp
aiosignal
multidict
yarl

cloudscraper
cfscrape

colorama
rich
tqdm

PyYAML
pytz

redis

selenium
certifi>=2026.1.4

trio
trio-websocket

websocket-client
websockets

Werkzeug
