<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Créer livraison</title>
<link rel="stylesheet" href="/static.css">
</head>

<body>

<div class="container">

<h1>➕ Nouvelle livraison</h1>

<form method="POST">

<input name="client" placeholder="Nom client">
<input name="pickup" placeholder="Point de départ">
<input name="destination" placeholder="Destination">
<input name="price" placeholder="Prix XOF">

<button type="submit">Créer</button>

</form>

</div>

</body>
</html>
