<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Driver</title>
<link rel="stylesheet" href="/static.css">
</head>

<body>

<h2>📍 GPS actif Niamey</h2>

<script>
function sendLocation(){
navigator.geolocation.getCurrentPosition(pos=>{
fetch("/update_location/{{ delivery_id }}",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({
lat:pos.coords.latitude,
lng:pos.coords.longitude
})
});
});
}

setInterval(sendLocation,3000);
</script>

</body>
</html>
